body {
    background-color: #FFFDFC;
    color: #2C0F00;
    font-size: 12px;
    
}

.jumbotron {
    background-color: #FBE4D8;
}

img {
    text-align: center;
}

.body {
    margin: 30px;
    text-align: justify;
}