@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.display-1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 80pt;
}

.display-2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 40pt;
}

.display-3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25pt;
}

.display-4 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 12pt;
}


body {
    background-color: white;
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    color: #59493B;

}

.col-mid-6 {
    width: 70%;
    padding: 0px;
}

.col-mid-4 {
    width: 70%;
    padding: 0px;
}

.col-mid-3 {
    width: 70%;
    padding: 0px;
}

.jumbotron {
    padding-top: 0px;
    background-color: white;
    /* border: green;
    border-style: dotted; */
}


